.video {
  width: 340px;
  margin: 10px 0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.video .video-container {
  width: 340px;
  height: 200px;
  background: #000;
}
.video .video-container video {
  width: inherit;
  height: 200px;
}
.video .content {
  padding: 10px;
}
.video .content h4 {
  line-height: 16px;
  font-size: 14px;
}
.video .content .date span {
  color: #f00;
}
.video .content .date em {
  font-size: 13px;
}
.video .content p {
  margin: 6px auto;
}
.video .content .refrence {
  font-size: 14px;
}
.video .content .refrence a {
  font-size: 13px;
  color: #00f;
  text-decoration: #00f;
}
/*main end*/
